.square {
  display: inline-block;
  margin: 0px 1px 0px 1px;
  font-size: 40px;
  text-align: center;
  padding: 1px 0px 0px 0px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  margin: 0px 1px 0px 1px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  height: 60px;
  color: white;
  width: 400px;
}

.square:hover,
.token:hover {
  opacity: 70%;
}

/* .connected {
  position: element(#);
} */

.tk {
  display: flex;
  position: absolute;
  z-index: inherit;
  width: 40px;
  height: 40px;
  float: left;
  padding: 1px 0px 0px 0px;
  border-radius: 50%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.007);
  font-size: 100%;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
