.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_panel {
  padding: 5rem 0;
  float: left;
}

.control_bar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  background: azure;
  border-radius: 2px;
  width: 100%;
  height: 100px;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
